// --------------------------------- SHELF --------------------------------- //
#shelf-area {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 116%;
  left: -8%;
}

#shelf {
  position: absolute;
  bottom: 0;
  left: 0;
}
// ------------------------------ WATERING CAN------------------------------- //
#watering-can {
  position: absolute;
  bottom: 0px;
  width: 30%;
  right: 13%;
  z-index: 1;
}

#water {
  position: absolute;
  left: -150px;
  bottom: -200px;
  @media (max-width: 700px) {
    left: -81%;
    bottom: -115%;
  }
}
// --------------------------------- PLANT----------------------------------- //

.planter-pour-zone {
  height: 300px;
  width: 15%;
  margin: 0 30%;
  pointer-events: none;
  border: 3px solid green;
}
